.WizardSideBar
{
	background-color: #F7F5FE;
	padding-left: 1em;
}
.Nowrap
{
	white-space:nowrap;
}
.ErrorMessage
{
	font-weight:bolder;
	color:Red;
}
.OkMessage
{
	font-weight:bolder;
	color:Navy;
}
